* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  width: 100%;
} */

/* Mobile Devices */
@media only screen and (max-width: 768px) {
}

/* Non Mobile Devices */
/* @media only screen and (min-width: 768px) {
} */
